@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-controller="Manage" asp-action="UserCabinet"  title="Manage">Hello, @User.Claims.ToList()[1].Value</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Registrate" style="color:#0086db;">Sign up</a></li>
        <li><a asp-controller="Account" asp-action="Login" style="color:#0086db;">Sing in</a></li>
    </ul>
}