@{
    ViewData["Title"] = "About";
}

<div align="center" class="title"><h2 class="category-header__subtitle"><i>These are the developers of the project "Bulldozer"</i></h2></div>

<div class="row row-about">
    <div class="col-md-3 border">
        <img src="~/images/bulldozer.jpg" class="logo-bulldozer">
        <h1><img src="~/images/max.jpg" class="round"></h1>
        <h2 class="name">Maksym Krykhovetskyi<a href="https://github.com/maksim-krih"><img src="~/images/github.png" class="logo-github"></a><a href="https://facebook.com"><img src="~/images/facebook.png" class="logo-facebook"></a></h2>
        <p class="position">Team lead</p>
        <div class="text-in">
            <p class="responsible-for">Responsible for:</p>
            <ul>
                <li><em>Organisation of team work</em></li>
                <li><em>Database management</em></li>
                <li><em>GitHub management</em></li>
            </ul>
        </div>
    </div>
    <div class="col-md-3 border">
        <img src="~/images/bulldozer.jpg" class="logo-bulldozer">
        <h1><img src="~/images/ostap.jpg" class="round"></h1>
        <h2 class="name">Ostap Tsizh<a href="https://github.com/maksim-krih"><img src="~/images/github.png" class="logo-github"></a><a href="https://facebook.com"><img src="~/images/facebook.png" class="logo-facebook"></a></h2>
        <p class="position">Back-end Developer</p>
        <div class="text-in">
            <p class="responsible-for">Responsible for:</p>
            <ul>
                <li><em>Development of main functionality</em></li>
                <li><em>Dividing project on Business Logic and Data Access Layers</em></li>
            </ul>
        </div>
    </div>
    <div class="col-md-3 border">
        <img src="~/images/bulldozer.jpg" class="logo-bulldozer">
        <h1><img src="~/images/taras.jpg" class="round"></h1>
        <h2 class="name">Taras Grytsenko<a href="https://github.com/taras-gr"><img src="~/images/github.png" class="logo-github"></a><a href="https://facebook.com"><img src="~/images/facebook.png" class="logo-facebook"></a></h2>
        <p class="position">Front-end Developer</p>
        <div class="text-in">
            <p class="responsible-for">Responsible for:</p>
            <ul>
                <li><em>Design creating and development</em></li>
            </ul>
        </div>
    </div>
    <div class="col-md-3 border">
        <img src="~/images/bulldozer.jpg" class="logo-bulldozer">
        <h1><img src="~/images/jullia.jpg" class="round"></h1>
        <h2 class="name">Jullia Stakhiv<a href="https://github.com/jullias"><img src="~/images/github.png" class="logo-github"></a><a href="https://facebook.com"><img src="~/images/facebook.png" class="logo-facebook"></a></h2>
        <p class="position">Back-end Developer</p>
        <div class="text-in">
            <p class="responsible-for">Responsible for:</p>
            <ul>
                <li><em>Security</em></li>
                <li><em>SQL queries</em></li>
            </ul>
        </div>
    </div>
    <div class="col-md-3 border">
        <img src="~/images/bulldozer.jpg" class="logo-bulldozer">
        <h1><img src="~/images/yura.jpg " class="round"></h1>
        <h2 class="name">Yuriy Paslavskyi<a href="https://github.com/yurapas"><img src="~/images/github.png" class="logo-github"></a><a href="https://facebook.com"><img src="~/images/facebook.png" class="logo-facebook"></a></h2>
        <p class="position">Back-end Developer</p>
        <div class="text-in">
            <p class="responsible-for">Responsible for:</p>
            <ul>
                <li><em>Testing and bug fixing</em></li>
            </ul>
        </div>
    </div>
    <div class="col-md-3 border">
        <img src="~/images/bulldozer.jpg" class="logo-bulldozer">
        <h1><img src="~/images/vitalik.jpg" class="round"></h1>
        <h2 class="name">Vitalik<a href="https://github.com/vdubravskyi"><img src="~/images/github.png" class="logo-github"></a><a href="https://facebook.com"><img src="~/images/facebook.png" class="logo-facebook"></a></h2>
        <p class="position">Front-end Developer</p>
        <div class="text-in">
            <p class="responsible-for">Responsible for:</p>
            <ul>
                <li><em>Design creating and development</em></li>
            </ul>
        </div>
    </div>
</div>