@{
    ViewData["Title"] = "About";
}

<!--<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>-->

<div align="center">
    <h1><b>Catalog authors</b></h1>
    <h2 class="category-header__subtitle title"><i>These are the developers of the project "Bulldozer"</i></h2>
</div>
<div class="row">
    <div class="col-md-3">
        <h1><img src="~/images/max.jpg" height="100" width="100"></h1>
        <h2 class="name">Max<a href="https://github.com/maksim-krih"><img src="~/images/github.png" height="25" width="25"></a></h2>
        <p class="position">Team leader</p>
        <p><b>Responsible for:</b></p>
        <ul>
            <li><em>Organisation of team work</em></li>
            <li><em>Database</em></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h1><img src="~/images/ostap.jpg" height="100" width="100"></h1>
        <h2 class="name">Ostap<a href="https://github.com/maksim-krih"><img src="~/images/github.png" height="25" width="25"></a></h2>
        <p class="position">SCRUM master</p>
        <p><b>Responsible for:</b></p>
        <ul>
            <li><em>Working with client</em></li>
            <li><em>Coordination of work</em></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h1><img src="~/images/taras.jpg" height="100" width="100"></a></h1>
        <h2 class="name">Taras<a href="https://github.com/taras-gr"><img src="~/images/github.png" height="25" width="25"></a></h2>
        <p class="position">Front end developer</p>
        <p><b>Responsible for:</b></p>
        <ul>
            <li><em>Design of site</em></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h1><a href="https://github.com/yurapas"><img src="~/images/yura.jpg" height="100" width="100"></a></h1>
        <h2 class="name">Yura<a href="https://github.com/yurapas"><img src="~/images/github.png" height="25" width="25"></a></h2>
        <p class="position">Back end developer</p>
        <p><b>Responsible for:</b></p>
        <ul>
            <li><em>Functional of site</em></li>
            <li><em>Connection to database</em></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h1><a href="https://github.com/jullias"><img src="~/images/jullia.jpg" height="100" width="100"></a></h1>
        <h2 class="name">Jullia<a href="https://github.com/jullias"><img src="~/images/github.png" height="25" width="25"></a></h2>
        <p class="position">Back end developer</p>
        <p><b>Responsible for:</b></p>
        <ul>
            <li><em>Helping Yura</em></li>
            <li><em>SQL queries</em></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h1><a href="https://github.com/vdubravskyi"><img src="~/images/vitalik.jpg" height="100" width="100"></a></h1>
        <h2 class="name">Vitalik<a href="https://github.com/vdubravskyi"><img src="~/images/github.png" height="25" width="25"></a></h2>
        <p class="position">QA engineer</p>
        <p><b>Responsible for:</b></p>
        <ul>
            <li><em>Testing</em></li>
            <li><em>Documentation</em></li>
        </ul>
    </div>
</div>