@model IEnumerable<Catalog.DAL.Models.Facility>

@{
    ViewData["Title"] = "Home Page";
}

<div class="page-wrapper">
    <section class="cards-section text-center">
        <div class="container">
            <h2 class="title">Restaurants</h2>

            <div id="cards-wrapper" class="cards-wrapper row">


                @foreach (var item in Model)
                {
                    <div class="item item-green col-md-4 col-sm-6 col-xs-12">
                        <div class="item-inner" id="card1"> @*id is for image binding. (wwwroot -> assets -> css -> #card1)*@                           
                            <a asp-controller="Facility" asp-action="Place" asp-route-id="@item.Id">
                                <h3 class="title">@item.Name</h3>
                            </a>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                }


            </div><!--//cards-->

        </div><!--//container-->
    </section><!--//cards-section-->
    <div id="pagination">
    </div>
</div><!--//page-wrapper-->



