@model Catalog.DAL.Entities.Facility

@{
    ViewData["Title"] = "Home Page";
    var list = ViewBag.List;
}

<div class="container">
    <div class="row">
        <div class="col">
            Каталог закладів Львова
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3">

        </div>
    </div>
</div>