div.left {
    float: left;
    height: 100%;
    width: auto;
}

div.right {
    height: 100%;
    
}
div.box {
    height: auto;
    width: 1000px;
}

.navigation{
        margin-top: 70px;
        align-content:center;
}

.rating-label {
    width: 35px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px black;
    padding: 5px;
}

.dropbtn {
    background-color: black;
    color: white;
    padding: 18px;
    font-size: 10px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 5px 0px 5px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.filter{
    padding-top: 30px;
}