/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
@import "/assets//plugins/bootstrap/css/bootstrap.min.css";
@import "/assets/plugins/font-awesome/css/font-awesome.css";
@import "/assets/plugins/elegant_font/css/style.css";
@import "/assets/css/styles.css";

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}




/* Styles for page About*/

.name {
    font-size: 20pt;
    font-weight: 100;
    color: black;
    text-shadow: 0 0 4px #666;
}

.position {
    color: #90939a;
    display: inline-block;
    font-size: 23px;
    line-height: 21px;
    font-style: italic;
}

.theme {
    color: darkslategrey;
    display: inline-block;
    font-size: 50px;
    line-height: 21px;
    font-style: italic;
    font-weight: 100;
}

.category-header__subtitle {
    max-width: 700px;
    padding: 0 16px;
    margin: 0 auto;
    font-style: italic;
    font-size: 30px;
    font-weight: 200;
    font-family: PT Serif,serif;
    display: inline-block;
    color: #484b52;
}

.round {
    border-radius: 100px;
    border: 3px solid grey;
    box-shadow: 0 0 7px #666;
    height: 100px;
    width: 100px;
}

.logo-github {
    margin-left: 20px;
    border-radius: 100px;
    border: 3px solid #8a2be2;
    box-shadow: 0 0 7px #666;
    height: 27px;
    width: 27px;
}

.logo-facebook {
    height: 27px;
    width: 27px;
    margin-left: 20px;
}

.logo-bulldozer {
    margin: 10px;
    border-width: 2px;
    border-color: black;
    border-style: double;
    border-radius: 7px;
    height: 37px;
    width: 37px;
    margin-top: 10px;
    margin-right: 245px;
}

.authors {
    text-align: center;
    width: 350px;
    height: 40px;
    border-radius: 30px;
    border-width: 1px;
    border-color: cadetblue;
    box-shadow: 0 0 7px #666;
    font-size: 80pt;
    font-weight: 100;
    color: black;
    text-shadow: 0 0 4px #666;
}

.border {
    margin: 20px;
    text-align: center;
    width: 300px;
    height: 460px;
    border-radius: 30px;
    border-width: 0.5px;
    border-color: cadetblue;
    border-style: double;
    box-shadow: 0 0 7px #666;
}

.responsible-for {
    font-size: 20pt;
    font-weight: 100;
    color: black;
    text-shadow: 0 0 3px cadetblue;
}


.text-in {
    text-align: left;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 10px;
    font-family: monospace;
    font-weight: 100;
    color: cadetblue;
}

.row-about {
    margin-left: 60px;
}

.title {
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 30px;
}

    .title:before,
    .title:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        width: 80%;
        height: 1px;
        background: #90939a;
        border: solid #FFF;
        border-width: 0 10px;
    }

    .title:before {
        margin-left: -100%;
    }

    .title:after {
        margin-right: -100%;
    }

    