@model RegistrationModel
@{
    ViewData["Title"] = "Registrate";
}

<br><br>

<script type="text/javascript" src="/assets/plugins/jquery-1.12.3.min.js"></script>

<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/plugins/jquery-match-height/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="/assets/js/main.js"></script>
<div class="page-wrapper">

    <!-- ******Header****** -->
    <header class="header text-center">
        <div class="container">
            <div class="branding">
                <h1 class="logo">
                    <span aria-hidden="true" class="icon_documents_alt icon"></span>
                    <span class="text-highlight">Catalog</span>
                </h1>
            </div><!--//branding-->

        </div><!--//container-->
    </header><!--//header-->

    <section class="cards-section text-center">
        <div class="container">
            <h2 class="title">Doner & Burger</h2>
            <div id="map-responsive" style="overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin-top: 50px;
    margin-bottom: 20px;">
                <iframe style="left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2573.1847176866822!2d24.031434615879636!3d49.83898663911423!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add6958da2a53%3A0x9dd839f74d69d825!2sDoner+%26+Burger!5e0!3m2!1suk!2sua!4v1554693464486!5m2!1suk!2sua" width="900" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div id="resInfo">
                <h4>Hours of work: 11:00-23:00</h4>
                <h4>Tel: 097 071 9129</h4>
            </div>
        </div><!--//container-->
    </section><!--//cards-section-->
    <div id="pagination">
    </div>
</div><!--//page-wrapper-->