@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<br><br>

<div class="page-wrapper">

    <!-- ******Header****** -->
    <header class="header text-center">
        <div class="container">
            <div class="branding">
                <h1 class="logo">
                    <span aria-hidden="true" class="icon_documents_alt icon"></span>
                    <span class="text-highlight">Catalog</span>
                </h1>
            </div><!--//branding-->

        </div><!--//container-->
    </header><!--//header-->

    <section class="cards-section text-center">
        <div class="container">
            <h2 class="title">Restaurants</h2>

            <div id="cards-wrapper" class="cards-wrapper row">
                <div class="item item-green col-md-4 col-sm-6 col-xs-6">
                    <div class="item-inner" id="card1">
                        <h3 class="title">Doner and burger</h3>
                        <a class="link" href="doner.cshtml"><span></span></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item item-pink item-2 col-md-4 col-sm-6 col-xs-6">
                    <div class="item-inner" id="card2">
                        <h3 class="title">Green Garden</h3>
                        <a class="link" href="res2info.html"><span></span></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item item-blue col-md-4 col-sm-6 col-xs-6">
                    <div class="item-inner" id="card3">
                        <h3 class="title">Shopen</h3>
                        <a class="link" href="res3info.html"><span></span></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item item-purple col-md-4 col-sm-6 col-xs-6">
                    <div class="item-inner" id="card4">
                        <h3 class="title">Tisto Pizza</h3>
                        <a class="link" href="res4info.html"><span></span></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item item-primary col-md-4 col-sm-6 col-xs-6">
                    <div class="item-inner" id="card5">
                        <h3 class="title">Rissoteria</h3>
                        <a class="link" href="res5info.html"><span></span></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item item-orange col-md-4 col-sm-6 col-xs-6">
                    <div class="item-inner" id="card6">
                        <h3 class="title">Flyashka</h3>
                        <a class="link" href="res5info.html"><span></span></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
            </div><!--//cards-->

        </div><!--//container-->
    </section><!--//cards-section-->
    <div id="pagination">
    </div>
</div><!--//page-wrapper-->
<!-- Main Javascript -->
<script type="text/javascript" src="/assets/plugins/jquery-1.12.3.min.js"></script>

<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/plugins/jquery-match-height/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="/assets/js/main.js"></script>


<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true" method="post">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div>
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input type="text" asp-for="Email" />
            <span asp-validation-for="Email" />
        </div>
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
        <div class="form-group">
            <input type="submit" value="Sing In" class="btn" />
        </div>
    </div>
</form>

