@model Catalog.BLL.ViewModels.Registration
@{
    ViewData["Title"] = "Registration";
}

<br><br>
<div id="regDiv">
    <form asp-action="Registrate" asp-controller="Account" asp-anti-forgery="true" method="post">
        @Html.ValidationMessage("RegistrationError")
        <div class="validation" asp-validation-summary="ModelOnly" />
        <div>
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input type="text" asp-for="Name" />
                <span asp-validation-for="Name" />
            </div>
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input type="text" asp-for="Email" />
                <span asp-validation-for="Email" />
            </div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" />
                <span asp-validation-for="Password" />
            </div>
            <div class="form-group">
                <input type="submit" value="Registrate" class="btn" />
            </div>
        </div>


    </form>
</div>
